<div class="header">
    <div>
        <h2>Welcome <%= user.name %>:</h2>
        
        
    
    </div>

</div>



<div>
    <h2>Strains</h2>

</div>

<div>
    <% user.strains.forEach((strain) => { %>
        <p>StrainId: <%= strain.strainId %></p>
        <br>
        <p>Name: <%= strain.name %></p>
        <br>
        <p>Race: <%= strain.race %></p>
        <br>
        <p>Description: <%= strain.description %> </p>
        <form action="/profile/<%= strain.strainId%>?_method=DELETE" method="POST">
        <input type="submit" value="Remove from favs">
        <input type="hidden" name="strainId" value="<%= strain.strainId %>">
        </form>
    <% }) %> 

</div>

     