
<h2> <strong>Strains</strong> </h2>

<form action="/strains" method="GET">
   <label for="name">Search for strain</label>
   <input type="text" name="name" id="name">
   <button style="height:25px; width:50px"  type="submit">Submit</button>
</form>
    
<ul><% strainArray.forEach(strain => { %>
   <li>
    <strong>Name:</strong> <%= strain.name %> <br>
    <strong>Race:</strong> <%= strain.race %> <br>
    <strong>Description:</strong> <%= strain.description %> <br>
    <a href="/effects/<%= strain.strainId%>"><strong>Effects</strong></a> <br>
    <a href="/flavors/<%= strain.strainId%>"><strong>Flavors</strong></a>
   </li>
   <form method="POST" action="/profile">
    <input hidden type="text" name="strainId" value="<%= strain.strainId %> ">
    <button type="submit">Add to your profile</button>
   </form>
   <% }) %> 
</ul>

         
    
