<div class="header">
    <h1>Search Strains</h1>
</div>

<form action="/strains/search" method="GET">
    <label for="name">Search for strain</label>
    <input type="text" name="name" id="name">
    <button type="submit">Submit</button>
 </form>
 
 <div class="container">
    <% strainArray.forEach(strain => { %>
       <h2>Click for details: <a href="/strains/details/<%= strain.strainId %> "><%= strain.name %></a></h2>
        <form method="POST" action="/profile">
            <input hidden type="text" name="strainId" value="<%= strain.strainId %> ">
            <input type="hidden" name="name" value="<%= strain.name %> ">
            <input type="hidden" name="race" value="<%= strain.race %> ">
            <input type="hidden" name="description" value="<%= strain.description %> ">
            <input type="hidden" name="userId" value="<%= currentUser.id %> ">
            <button type="submit">Add to your profile</button>
            <A HREF="javascript:javascript:history.go(-1)">🔙 </A>
       </form>
    <% }) %> 
</div>
    
 