<div class="header">
    <h2><%= strain.name %> </h2>
</div>

<div class="container">
    <p><i>Race:</i> <%= strain.race.toUpperCase() %> </p><br>
    <p><i>Description:</i> <%= strain.description %> </p><br>
    <form method="POST" action="/profile/details/<%= strain.strainId%>?_method=DELETE" >
        <input type="submit" value="Remove from favs">
        <input type="hidden" name="strainId" value="<%= strain.strainId %>">
        <input type="hidden" name="userId" value="<%= currentUser.id %> ">
    </form>
</div>